* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 1320px;
  margin: auto;
}
p,
pre,
blockquote,
q,
address {
  font-size: 20px;
  margin-top: 10px;
}
a {
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 25px;
}
img {
  width: 250px;
  margin: 15px;
}
table {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
}
td,
th {
  border: 2px solid green;
}
td {
  padding: 10px;
}
ul,
ol {
  margin-left: 20px;
  margin-top: 20px;
  border: 2px solid black;
}
#title {
  font-size: 60px;
  background-color: antiquewhite;
  display: inline;
  padding: 5px 40px;
}
.thisClass {
  color: blueviolet;
  background-color: black;
  margin-top: 10px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 10px;
}
